@media (max-width: 1200px) {
    .container h1,h2,h3,h4,h5,h6{
        text-align: center;
    }
    .container p{
        margin: 25px;
    }
}

@media (max-width: 1000px) {
    .section-features {
        width: 100%;
    }
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button{
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {
    .section-features .span-1-of-2{
        width: 99%;
    }
    .footer-distributed{
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left{
        margin-bottom: 40px;
    }

    .footer-distributed form{
        margin-top: 30px;
    }

    .footer-distributed form{
        display: block;
    }

    .footer-distributed form button{
        float: none;
    }
}



@media (max-width: 615px) {
    .main-nav li {
        display: inline-block;
        margin-left: 10px;
    }
    .main-nav li a:link, .main-nav li a:visited{
        font-size: 12px;
    }
    .art-photo img {
        opacity: 0.7;
        width: 100%;
        height: 200px;
    }
    h1 {
        margin-bottom: 0;
        margin-top: 20px;
        color: #fff;
        font-size: 34px;
        word-spacing: 4px;
        letter-spacing: 1px;
    }
}
@media (max-width: 678px) {
    .main-nav li a:link, .main-nav li a:visited{
        font-size: 15px;
    }
}
@media (max-width: 480px){
    .main-nav li a:link, .main-nav li a:visited{
        font-size: 10px;
        font-weight: bold;
    }
    .span-1-of-2 {
        width: 70% !important;
    }

    .col {
        display: block !important;
        margin: auto;
    }

}
@media (max-width: 376px) {
    .main-nav li a:link, .main-nav li a:visited{
        font-size: 8px;
        font-weight: bold;
    }
    .btn:link, btn:visited{
        padding: 5px 15px;
    }
}
