/*-------------------------*/
/*-------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Catamaran',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*-------------------------*/
/*Reusable Code*/
/*-------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
    
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-container > div {
    margin: 10px;
    /*
    text-align: center;
    font-size: 30px;*/
}
.flex-container img{
    width: 100%;
}
.flex-container h1 {
    color:#ccc;
}
.wrapper .content{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.wrapper .info-1{
    width: 80%;
    margin: 0 auto;
}
h1,h2,h3{
    font-weight: 800;
    text-transform: uppercase;
}

h1{ 
    margin-bottom: 0;
    margin-top: 20px;
    color: #fff;
    font-size: 40px;
     word-spacing: 4px;
    letter-spacing: 1px;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #8a2be2;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 10px;
    margin-top: 20px;
}

section{
    padding: 80px 0;
}

/*-------------------------*/
/*Paragraphs Code*/
/*-------------------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    padding: 0px 50px;
}


/*-------------------------*/
/*ButtonsCode*/
/*-------------------------*/

.btn:link, btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.sign-up-btn{
    width: 100%;
    padding: 10px;
    background: #451075;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.btn-full:link, btn:visited {
    background-color: #8a2be2;
    border: 1px solid #8a2be2;
    color: #fff;
    margin-right: 15px;
    
    
}

.btn-ghost:link,btn:visited{
    border: 1px solid #8a2be2;
    color: #fff;
}

.btn:active,
.btn:hover{
    background-color: #451075;
    color: #fff;
}

.btn-full:active, 
btn:hover {
    border: 1px solid #451075;
    
}

.btn-ghost:active,
btn:hover{
    border: 1px solid #451075;
    color: #fff;
    
}

/*-------------------------*/
/*Header Code*/
/*-------------------------*/

header{
    background-image:url('../images/art1.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}

.hero-text-box{
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 35px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #404040;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
    
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #8a2be2;
    
    
}
nav {
    width: 80%;
    margin: 0 auto;
}
/*-------------------------*/
/*Columns Code*/
/*-------------------------*/

.col {
	display: inline-block;
	float:left;
    padding: 10px;
}

.span-1-of-2 {
	width: 50%;
}

row {
    zoom: 1;
}

.row:after {
    content:"";
    display:table;
    clear:both;
}
.container button{
    border: none;
    padding: 20px;
    background: #451075;
    color: white;
    font-weight: 600;
}
.container{
    margin: 50px 0px;
}
.about-section{
    margin: 0px 25px;
}
/*-------------------------*/
/*Features Code*/
/*-------------------------*/

.section-features long copy{
    margin-bottom: 50px;
}



/*-------------------------*/
/*Grid Code*/
/*-------------------------*/

.showcase{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.showcase li{
    display: inline-flex;
    float: left;
    width: 100%;
}

.art-photo{
    
    width:100%;
    margin: 10px;

}

.art-photo img{
    opacity: 0.7;
    width: 100%;
    height: 450px;
    
}

.art-photo img:hover{
    opacity: 1;
    transform: scale(.75);
    transition: transform .2s, opacity .2s;
}

/*---------------------*/
/*Sign-up Code*/
/*----------------------*/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}



#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}



input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}
.sign-up .btn{
    border: none;
    padding: 20px;
}
button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

/* footer */
.footer-distributed{
    background: #8a2be2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px ;
    text-align: left;
    padding: 20px 40px 30px;
    overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
    float: left;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px ;
    margin: 0 0 10px;
}

.footer-distributed h3 span{
    color:  #8a2be2;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
    margin-top: 40px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
    float: right;
}

.footer-distributed .footer-right p{
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form{
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
    color:  #5c666b;
}


.footer-distributed form input{
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea{
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button{
    border-radius: 3px;
    background-color:  #8a2be2;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}


/* extra */

.mt-3{
    margin-top: 3px;
}
.mt-4{
    margin-top: 4px;
}
.mt-5{
    margin-top: 5px;
}
.mt-80{
    margin-top: 80px;
}
.m-50{
    margin: 50px;
}

